version: "3"

services:
  db:
    image: postgres:16
    container_name: weather_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: weather
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: weather_api
    restart: always
    ports:
      - "3333:3333"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      OPENWEATHER_KEY: ${OPENWEATHER_KEY}
      PORT: ${PORT}
      HOST: ${HOST}
    depends_on:
      - db

volumes:
  pgdata:
